  <div class="news-list-filter">
    <p class="filter-label">Filter by keywords</p>
    <div class="filter-bar">
        <mat-icon matPrefix class="filter-button">search</mat-icon>
        <input matInput class="filter-input" placeholder="The most successful IT companies in 2020" [formControl]="filterControl">
      </div>
  </div>

  <div class="results-section">
    <span class="results-label">Results:  <span class="dynamic-value">{{ articles.length }}</span></span>
    <div class="results-bar"></div>

  </div>


  <div class="content-list">
    <mat-card *ngFor="let article of articles" class="article-card">
      <img mat-card-image [src]="article.imageUrl" alt="Article Image">
      <mat-card-subtitle><mat-icon>calendar_today</mat-icon>{{ article.date | dateFormat }}</mat-card-subtitle>

      <mat-card-title [innerHTML]="article.title"></mat-card-title>
      <mat-card-content [innerHTML]="article.summary"></mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/article', article.id]"> <p>Read more <mat-icon>arrow_forward</mat-icon></p> </button>
      </mat-card-actions>
    </mat-card>
  </div>